@page
@using Elias.Application.Interfaces
@using Elias.Common
@model Elias.Admin.Pages.CommentMe.IndexModel
@{
    ViewData["Title"] = "لیست پیام ها";
}
@inject ICommentService comment
<div class="box-body">
    <div id="example2_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
        <div class="row"><div class="col-sm-6"></div><div class="col-sm-6"></div></div><div class="row">
            <div class="col-sm-12">
                <div class="col-md-12" style="margin:10px 0;">
                </div>
                <table id="example2" class="table table-bordered table-hover dataTable" role="grid" aria-describedby="example2_info">
                    <thead>
                        <tr role="row">
                            <th>نام پیام دهنده</th>
                            <th>تاریخ پیام</th>
                            <th>ایمیل پیام دهنده</th>
                            <th>شرکت پیام دهنده</th>
                            <th>متن پیام </th>
                            <th>دستورات</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (comment.IsCommentExist())
                        {
                            @foreach (var item in Model.Comments)
                            {
                                <tr role="row" class="even">
                                    <td>@item.Name</td>
                                    <td>@item.CreateDate.ToShamsi()</td>
                                    <td>@item.Email</td>
                                    <td>@item.Company</td>
                                    <td>@item.Text</td>
                                    <td>
                                        <a asp-page="UpdateEducation" asp-route-Id="@item.Id" class="btn btn-primary btn-sm">پاسخ پیام</a>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
