@page
@using Elias.Application.Interfaces
@model Elias.Admin.Pages.Skill.IndexModel
@{
    ViewData["Title"] = "لیست مهارت";
}
@inject ISkillService skill
<div class="box-body">
    <div id="example2_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
        <div class="row"><div class="col-sm-6"></div><div class="col-sm-6"></div></div><div class="row">
            <div class="col-sm-12">
                <div class="col-md-12" style="margin:10px 0;">
                    <a asp-page="CreateSkill" class="btn btn-success">افزودن مهارت جدید</a>
                </div>
                <table id="example2" class="table table-bordered table-hover dataTable" role="grid" aria-describedby="example2_info">
                    <thead>
                        <tr role="row">
                            <th>نام مهارت</th>
                            <th>نام گروه مهارت</th>
                            <th>درصد مهارت</th>
                            <th>دستورات</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (skill.IsSkillExist())
                        {
                            @foreach (var item in Model.Skills)
                            {
                                <tr role="row" class="even">
                                    <td>@item.SkillName</td>
                                    <td>@item.SkillGroupName</td>
                                    <td>@item.SkillValue</td>
                                    <td>
                                        <a asp-page="UpdateSkill" asp-route-Id="@item.Id" class="btn btn-warning btn-sm">ویرایش</a>
                                        <a asp-page="RemoveSkill" asp-route-Id="@item.Id" class="btn btn-danger btn-sm">حذف</a>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
