@model Elias.Data.Entities.Portfolio.Portfolio

@{
    Layout = "_ProjectLayout";

}
<section class="project spacer-xlg">
    <div class="container  shadow bg-light radius-2 padding-dy">
        <div class="row mb-5">
            <div class="col">
                <h6 class="font-weight-700  mb-0 text-uppercase mb-2">@Model.PortfolioGroup.GroupName</h6>
                <hr class="divider divider-left divider-lg float-left">
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <ul class="list-inline project-nav mb-0">
                    <li class="outer radius-2 list-inline-item mr-1">
                        <a class="inner btn btn-round btn-icon" href="/">
                            <span class="fa fa-times btn-icon-inner"></span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row align-items-center justify-content-center mt-6">
            <div class="col-md-10">
                <h1 class="font-weight-600">
                    @Model.PortfolioName<mark>
                    </mark>
                </h1>
                <p class="mb-0">
                    @Html.Raw(Model.Description)

                </p>
                <div class="w-100">
                    <hr class="divider divider-md divider-center mt-5 mb-5 float-left ">
                </div>
                <ul class="list-inline font-size-15 w-100 float-left">
                    <li>
                        نوع پروژه :
                        <strong class="font-weight-600 text-dark">@Model.PortfolioFamily</strong>
                    </li>
                    <li>
                        کارفرما :
                        <strong class="font-weight-600 text-dark">@Model.CustomerName</strong>
                    </li>
                    <li>
                        تاریخ :
                        <strong class="font-weight-600 text-dark">@Model.PortfolioDate</strong>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row align-items-center justify-content-center mt-5">
            <div class="col-md-10">
                <div class="mb-6 item">

                    @foreach (var item in Model.PortfolioImages)
                    {
                        <a class="radius-1 shadow-inner hover-effect d-block venobox vbox-item" data-overlay="rgba(52,58,64,.6)" href="/PortfolioMoreImages/@item.PortfolioImageName">
                            <span class="hover-effect-container">
                                <span class="hover-effect-icon ">
                                    <span class=" fas fa-eye top-icon "></span>
                                </span>
                            </span>
                            <div class="  p-2  ">
                                <div class="shadow radius-1">
                                    <img class="img-fluid radius-1" src="/PortfolioMoreImages/@item.PortfolioImageName" alt="@item.PortfolioImageName">
                                </div>
                            </div>
                        </a>
                    }

                </div>
            </div>
        </div>
        <div class="row align-items-center justify-content-center">
            <partial name="_Socials" />
        </div>
        <div class="row">
            <div class="col-md-12 mt-6 pt-6 mb-6">
                <hr class="divider divider-lg divider-center ">
            </div>
            @if (!string.IsNullOrWhiteSpace(Model.PortfolioLink))
            {
                <div class="col-md-6 text-left mb-2 mb-lg-0">
                    <a class="float-left" href="@Model.PortfolioLink">
                        <div class="media  align-items-center">
                            <div class="outer radius-2 mr-3">
                                <div class="ui-icon ui-icon-md inner ">
                                    <div class="ui-icon-inner">
                                        <svg class="max-width-1 svg-icon" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                             viewBox="0 0 522 512" enable-background="new 0 0 522 512;" xml:space="preserve">
                                        <g>
                                        <g>
                                        <path d="M512.4,241.4c-4-5.7-98.4-139-251.4-139S13.5,235.7,9.6,241.4c-6.1,8.8-6.1,20.4,0,29.2
                                                c4,5.7,98.4,139,251.4,139s247.5-133.3,251.4-139C518.5,261.8,518.5,250.2,512.4,241.4z M261,384C119.6,384,30.6,256,30.6,256
                                                s89-128,230.4-128s230.4,128,230.4,128S402.4,384,261,384z" />
                                                                      </g>
                                                                   </g>
                                        <g>
                                        <g>
                                        <path d="M261,153.6c-56.6,0-102.4,45.8-102.4,102.4S204.4,358.4,261,358.4S363.4,312.6,363.4,256
                                                S317.5,153.6,261,153.6z M261,332.8c-42.4,0-76.8-34.4-76.8-76.8s34.4-76.8,76.8-76.8s76.8,34.4,76.8,76.8S303.4,332.8,261,332.8z
                                                                            " />
                                                                      </g>
                                                                   </g>
                                                                </svg>
                                    </div>
                                </div>
                            </div>
                            <div class="media-body">
                                <span class="text-muted font-size-13 font-weight-600 text-uppercase">دیدن پروژه آنلاین</span>
                            </div>
                        </div>
                    </a>
                </div>
            }
        </div>
    </div>
</section>
<a class="outer scroll-to-top  scroll" href="#wrapper">
    <div class="scroll-to-top-inner inner radius-2"><span class=" fas fa-arrow-up top-icon "></span></div>
</a>
<!-- End to the top -->
