@using Elias.Application.Interfaces
@using Elias.Data.DTOs.UserDto
@inject IUserService _User
@{
    AboutMeInfoDto Model = await _User.GetAboutMeInfo();
}
<div class="row mb-5">
    <div class="col">
        <h6 class="font-weight-700  mb-0 text-uppercase mb-2">درباره من</h6>
        <hr class="divider divider-left divider-lg float-left">
    </div>
</div>
<div class="row mb-2">
    <div class="col-lg-12">
        <h1 class="font-weight-600 mb-0">@Model.Name <mark> @Model.Familly</mark></h1>
        <h6 class="h5 text-muted">@Model.MainSkill</h6>
    </div>
</div>
<div class="row mb-2">
    <div class="col-md-12">
        <p>
            @Html.Raw(Model.MainDescription)
        </p>
    </div>
</div>
<div class="row">
    <div class="col-lg-6 mb-3 mb-lg-0">
        <div class="text-center  p-2 radius-1 shadow-inner ">
            <div class="shadow radius-1">
                <ul class="text-center info-list font-size-14 p-2 list-inline  mb-0">
                    <li><span class="inf">نام</span>  <span class="value">@Model.Name @Model.Familly</span></li>
                    <li><span class="inf">تولد</span>  <span class="value"> @Model.BirthDay </span></li>
                    <li><span class="inf">شهر</span>  <span class="value">@Model.City</span></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="text-center  p-2 radius-1 shadow-inner ">
            <div class="shadow radius-1">
                <ul class=" text-center info-list p-2 font-size-14 list-inline mb-0">
                    <li><span class="inf">ایمیل</span>  <span class="value">@Model.Email</span></li>
                    <li><span class="inf">تماس</span>  <span class="value"> @Model.PhoneNumber  </span></li>
                    <li><span class="inf">اسکایپ</span>  <span class="value">@Model.Skype</span></li>
                </ul>
            </div>
        </div>
    </div>
</div>
