@using Elias.Application.Interfaces
@using Elias.Common
@using Elias.Data.DTOs.Blog
@inject IBlogService _Blog
@{
    List<BlogDto> blog = _Blog.GetBlogList();
}

<section id="blog" class="shadow bg-light radius-2 padding-dy ">
    <div class="row mb-5">
        <div class="col">
            <h6 class="font-weight-700  mb-0 text-uppercase mb-2">آخرین اخبار</h6>
            <hr class="divider divider-left divider-lg float-left">
        </div>
    </div>
    <div class="row">
        @foreach (var item in blog)
        {
            <div class="col-md-12">
                <div class="mb-4 item">
                    <a class="radius-1 shadow-inner d-block " href="blog-single.html">
                        <div class="  p-2  ">
                            <div class="shadow radius-1">
                                <img class="img-fluid radius-1" src="/BlogImage/@item.BlogImage" alt="@item.BlogImage">
                            </div>
                        </div>
                    </a>
                </div>
                <div>
                    <h1 class="h5 font-weight-500 d-inline-block"><a href="blog-single.html">@item.BlogSubject</a></h1>
                    <span class="d-inline-block shadow-inner text-secondary radius-1 font-size-13 mb-3 mb-lg-0  px-3">@item.BlogDate.ToShamsi()</span>
                </div>
                <ul class="list-inline font-size-13">
                    <li class="list-inline-item">
                        <span class=" fas fa-user mr-1 "></span>
                        <span>
                            پست شده توسط
                            <a href="#">@item.Author</a>
                        </span>
                    </li>
                    <li class="list-inline-item">
                        <span class=" fas fa-tag "></span>
                        <span>
                            تگ شده در
                            <a href="#">@item.BlogGroupName</a>
                        </span>
                    </li>
@*                     <li class="list-inline-item">
                        <span class=" fas fa-comment mr-1  "></span>
                        <span>
                            نظرات
                            <a href="#">(2)</a>
                        </span>
                    </li> *@
                </ul>
                <hr class="mt-3 mb-3">
                <p>
                 @Html.Raw(item.BlogShortDescription)
                </p>
                <div class="outer radius-2 d-inline-block">
                    <a href="#home" class="inner radius-2 d-block px-4 py-2 font-size-14 text-secondary-2 font-weight-500">
                        بیشتر بخوانید
                    </a>
                </div>
            </div>
            <div class="col-md-12 mt-4 mb-6">
                <hr class="divider divider-md divider-center ">
            </div>
        }
    </div>
    <div class="row">
        <div class="col-md-12 mt-6 pt-6 mb-6">
            <hr class="divider divider-lg divider-center ">
        </div>
        <partial name="_ResumeDownload" />
    </div>
</section>
