@model Elias.Data.Entities.Blog.Blog
@using Elias.Common
@{
    Layout = "_BlogLayout";
}
<div class="col-lg-9 my-order-switch-1">
    <section id="blog" class="shadow bg-light radius-2 padding-dy">
        <div class="row mb-5">
            <div class="col">
                <h6 class="font-weight-700  mb-0 text-uppercase mb-2">بلاگ </h6>
                <hr class="divider divider-left divider-lg float-left">
            </div>
        </div>
        <div class="row align-items-center justify-content-center">
            <div class="col-md-12">
                <div class="mb-4 item">
                    <div class="radius-1 shadow-inner d-block ">
                        <div class="  p-2  ">
                            <div class="shadow radius-1">
                                <img class="img-fluid radius-1" src="/BlogImage/@Model.BlogImage" alt="@Model.BlogImage">
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <h1 class="h5 font-weight-500 d-inline-block">@Model.BlogSubject</h1>
                    <span class="d-inline-block shadow-inner text-secondary radius-1 font-size-13 mb-3 mb-lg-0  px-3">@Model.CreateDate.ToShamsi()</span>
                </div>
                <ul class="list-inline font-size-13">
                    <li class="list-inline-item">
                        <span class=" fas fa-user mr-1 "></span>
                        <span>
                            پست شده توسط
                            <a href="/BlogSingle">@Model.Author</a>
                        </span>
                    </li>
                    <li class="list-inline-item">
                        <span class=" fas fa-tag "></span>
                        <span>
                            تگ شده در
                            <a href="/BlogSingle">@Model.Group.BlogGroupName</a>
                        </span>
                    </li>
                    <li class="list-inline-item">
                        <span class=" fas fa-comment mr-1  "></span>
                        <span>
                            نظرات
                            <a href="#">(2)</a>
                        </span>
                    </li>
                    @Html.Raw(Model.BlogDescription)
            </div>
        </div>
        @* <partial name="_BlogComments" /> *@
        <div class="row">
            <div class="col-md-12 mt-6 pt-6 mb-6">
                <hr class="divider divider-lg divider-center ">
            </div>
            <partial name="_ResumeDownload" />
        </div>
    </section>
</div>
